<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="post" action="testLogin">
        {% csrf_token %}
        <input type="text" name="unm" placeholder="username"><br>
        <input type="text" name="pas" placeholder="Password"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>